/*Reset básico*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dad4d4;
    color: #272626;
    line-height: 2.0;
}

header {
    text-align: center;
    background-color: #82b6ec;
    color: #0c424c;
    padding: 20px;
}

section {
    /* Los valores para la propiedad border son tres separados cada unopor un espacio: 
     el primero es el grosor del borde
     el segundo es el tipo de borde
     el tercero es el color */
    border: 3px solid #b0b6b7;
    background-color: #dff7fc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}

h2 {
    color: #7193e8;
}

.box {
    background-color: #99c9d2;
    border: 2px solid #7193e8;
    border-radius: 10px;
    margin: 10px auto;
    /* El valor auto en a propiedad de margin hace que el navegador calcule automáticamente el espacio necesario para centrar un elemento dentro de se contenedor padre, siempre que el elemento tenga un ancho definido. Esta manera de centrar los elementos solo aplica de mandera horizontal*/
    padding: 10px;
    text-align: center;
}

.block {
    display: block;
    width: 150px;
    height: 30px;

}

.inline{
    display: inline;
    width: 150px;
    height: 30px;
    /* width y height son propiedades de bloque, por lo que en los elementos en linea no se pueden usar */
}

.inline-block{
    display: inline-block;
    width: 150px;
    height: 30px;
}

.model{
    padding: 20px;
    margin: 20px;
    border: 10px solid #71e7bf;
}
.content-box{
    box-sizing: content-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid #7193e8;
    background-color: #dad4d4;
    width: 200px;
}

.border-box{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid #7193e8;
    background-color: #dad4d4;
    width: 200px;
}