/* Vriables de CSS */
/* Son valores reutilizables definidos mediante la sintaxis "--nombre-variable" 
-Permiten centralizar la gestión de estilos, facilitando el mantenimiento y los cambios globales
-Se pueden usar en cualquier parte del CSS mediante la función var(--nombre-variable).
*/

/* El selector global lo conocemos como el selector :root
:root es una pseudo-clase que selecciona el elemnto raíz del documento (el elemento html)
-Es útil para declarar variables globales que afecten a toda la página
-También puedes declarar variables en otros selectores como clases, ID o elementos específicos para limitar el alcance*/

:root{
    --color-primario: #82b6ec;
    --color-secundario: #7193e8;
    --color-terciario: #0c424c;
    --color-border: #b0b6b7;
    --color-quinto: #dff7fc;
    --color-background: #dad4d4;
    --color-acentos: #99c9d2;
    
}


/*Reset básico*/
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--color-background);
    color: #272626;
    line-height: 2.0;
}

header {
    text-align: center;
    background-color: var(--color-primario);
    color: #0c424c;
    padding: 20px;
}

section {
    /* Los valores para la propiedad border son tres separados cada unopor un espacio: 
     el primero es el grosor del borde
     el segundo es el tipo de borde
     el tercero es el color */
    border: 3px solid var(--color-border);
    background-color: #dff7fc;
    border-radius: 15px;
    padding: 15px;
    margin: 20px;
}

h2 {
    color: #7193e8;
}

.box {
    background-color: var(--color-acentos);
    border: 2px solid var(--color-secundario);
    border-radius: 10px;
    margin: 10px auto;
    /* El valor auto en a propiedad de margin hace que el navegador calcule automáticamente el espacio necesario para centrar un elemento dentro de se contenedor padre, siempre que el elemento tenga un ancho definido. Esta manera de centrar los elementos solo aplica de mandera horizontal*/
    padding: 10px;
    text-align: center;
}

.block {
    display: block;
    width: 150px;
    height: 30px;

}

.inline{
    display: inline;
    width: 150px;
    height: 30px;
    /* width y height son propiedades de bloque, por lo que en los elementos en linea no se pueden usar */
}

.inline-block{
    display: inline-block;
    width: 150px;
    height: 30px;
}

.model{
    padding: 20px;
    margin: 20px;
    border: 10px solid #71e7bf;
}
.content-box{
    box-sizing: content-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid #7193e8;
    background-color: #dad4d4;
    width: 200px;
}

.border-box{
    box-sizing: border-box;
    margin: 10px;
    padding: 20px;
    border: 10px solid #7193e8;
    background-color: #dad4d4;
    width: 200px;
}