/* Reseteo general */
* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f4ef;
    color: #2f4f4f;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    text-align: center;
    padding: 20px;

}

footer {
    text-align: center;
    padding: 10px;
}

.navbar {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 10px 20px;
    background-color: #e2f0d9;
}

.nav-link,
.boton-tema {
    text-decoration: none;
    color: #2f4f4f;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s;
}

.nav-link:hover,
.boton-tema:hover {
    color: #88b04b;

}

/* CARTAS */

.seccion-tarjetas {
    text-align: center;
    padding: 20px;
}

.contenedor-tarjetas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 600px;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

}

.card {
    background-color: #e2f0d9;
    color: #4c6a4c;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s, background-color 0.3s;
}

.card:hover {
    transform: scale(1.05);
    background-color: #88b04b;
}

.especial {
    /* flex-grow: 0; Cuando nosotros no indicamos un valor directo con flex-grow, el valor por defecto en todos los item es o */
    flex-grow: 2;
    /*Ocupa más espacio proporcionalmente */
}

.carta-hover:hover {
    transform: rotate(30deg) scale(1.1);

}

.card:nth-child(1) {
    align-self: flex-end;
}

.card:nth-child(3) {
    order: -1;
}